    .difficulty {
        justify-content: center;
        flex: 1;
        color: #fff;
        text-align: center;
        width: 600px;


        .diffgrid {
            padding: 50px;
            display: grid;
            grid-template-columns: 200px 200px 200px;
        }

        h1 {
            padding: 20px;
        }
    }

    .flashcard {
        display: none;
        width: 500px;
        height: 400px;
        background-color: #345678;
        perspective: 1000px;
        border: 2px none;
        border-radius: 40px;
        text-align: center ;
        margin: 0 auto;
        gap: 100px;
        margin-bottom: 100px;
        position: relative;
        overflow: hidden;

        h1 {
            color: #fff;
            font-size: 30px;
            margin: auto;
            font-size: 2rem;
            white-space: pre-wrap;
            word-break: keep-all;
            width: 100%;
            overflow-wrap: break-word;
            writing-mode: horizontal-tb;
            text-orientation: mixed;
        }

        .flashcard-inner {
            position: relative;

            transition: transform 0.6s;
            display: flex;
            transform-style: preserve-3d;
        }

        .flashcard-inner.flipped {
            transform: rotateY(180deg);
        }

        .flashcard-front, .flashcard-back {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            padding: 20px;
            box-sizing: border-box;
            color: #fff;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            text-align: center;
            
        }

        .flashcard-front {
            background-color: #345678;
        }

        .flashcard-back {
            background-color: #012345;
            transform: rotateY(180deg);
        }

        .flashcard-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px;
        }

    }

    .grid {
        width: 200px;
        display: none;
        grid-template-columns: repeat(3, auto);
        gap: 50px;
        padding-left:50px ;
        
    }

    .diffbtn {
        width: 130px;
        height: 50px;   
        border: none;
        border-radius: 30px;
        background-color: #345678;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        border: 2px none rgba(255, 255, 255, .5);
        color: #fff;
        cursor: pointer;

        img {
            width: 60px;
            height: 40px;
            justify-content: center;
        }
    }

    .diffbtn:hover {
        background-color: #012345;
            
    }