.difficulty {
    justify-content: center;
    flex: 1;
    color: #ccc;
    text-align: center;
    width: 600px;


    .diffgrid {
        padding: 50px;
        display: grid;
        grid-template-columns: 200px 200px 200px;
    }

    h1 {
        padding: 20px;
    }
}
.flashcard {
    display: none;
    width: 300px;
    height: 400px;
    background-color: #345678;
    border: 2px none;
    border-radius: 40px;
    text-align: center ;
    margin: 0 auto;
    gap: 100px;
    margin-bottom: 100px;

    h1 {
        color: #ccc;
        
    }
}


.diffbtn {
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 30px;
        background-color: #345678;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        border: 2px none rgba(255, 255, 255, .5);
        color: #ccc;
        cursor: pointer;
    }
    
.diffbtn:hover {
        background-color: #012345;
}