    body, html {
        height: 100%;
        margin: 0%;
    }
    body {
        display: flex;
        min-width: 100%;
        background-color: #021631;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        flex-direction: column;
        min-height: 100vh;

    }
    .bio {
        color: #fff;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 50px;
        gap: 50px;
    }
    .bio h1 {
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    nav {
        background-color:#010b19;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    }
    footer {
        background-color: 	#010b19;
        color: #fff;
        padding: 2rem 1rem;
    }
    footer > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        align-items: start;
        padding-left: 350px;
    }
    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    footer li {
        margin: 0.5rem;
    }
    footer a {
        color: #fff;
        text-decoration: none;
    }
    footer a:hover {
        color: #f0f0f0;
    }
    nav ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav li {
        height: 50px;
    }
    nav a {
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #fff;
    }
    nav a:hover{
        background-color: #03214a;
        border-radius: 25px;
    }
    nav li:first-child{
        margin-right: auto;
    }
    .sidebar{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: #fff;
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .sidebar li{
        width: 100%;
    }
    .sidebar a{
        width: 100%;
    }

    .wrapper {
        position: relative;
        width: 400px;
        height: 440px;
        background-color: #345678;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: transform .5s ease, height .2s ease;
    }
    .wrapper.active-popup {
        transform: scale(1);
    }
    .wrapper.active {
        height: 600px;
        gap: 40px;
    }
    .wrapper.active .form-box.login {
        transition: none;
        transform: translateX(-600px);
    }
    .wrapper .form-box.login {
        transition: transform .18s ease;
        transform: translateX(0);
    }
    .wrapper .form-box.register {
        position: absolute;
        transition: none;
        transform: translateX(600px);
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 30px;
        box-sizing: border-box;
        transition: transform 0.3s ease;
    }
    .wrapper.active .form-box.register{
        transition: transform .18s ease;
        transform: translateX(0);
    }   
    .wrapper .icon-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background: #012345;
        font-size: 2em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        z-index: 1;

    }
    .wrapper .form-box {
        width: 100%;
        padding: 40px;
    }
    .form-box h2 {
        font-size: 2em;
        color: #fff;
        text-align: center;
    }
    .input-box{
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #012345;
        margin: 30px 0;
    }
    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-5);
        font-size: 1em;
        color: #fff;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;
    }
    .input-box input:focus + label,
    .input-box input:not(:placeholder-shown) + label {
        top: -10px;

    }
    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-weight: 600;
        padding: 0 35px 0 5px;
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .input-box .icon {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.2em;
        color: #fff;
        line-height: 57px;
    }
    .remember-forgot {
        font-size: .9em;
        color: #012345;
        font-weight: 500;
        margin: -15px 0 15px;
        display: flex;
        justify-content:space-between ;
    }
    .remember-forgot label input {
        accent-color: #012345;
        margin-right: 3px;
    }
    .remember-forgot a {
        color: #012345; 
        text-decoration: none;
    }
    .remember-forgot a:hover {
        text-decoration: underline;
    }
    .btn {
        width: 100%;
        height: 45px;
        background: #012345;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1em;
        color: #fff;
        font-weight: 500;
    }
    .login-register {
        font-size: .9em;
        color:#012345;
        text-align: center;
        font-weight: 500;
        margin: 25px 0 10px;
    }
    .login-register p a {
        color: #012345;
        text-decoration: none;
        font-weight: 600;
    }
    .login-register p a:hover {
        text-decoration: underline;
    }
    *{
        margin: 0;
        padding: 0;
    }
    .menu-button{
        display: none;
    }
    .content {
        flex: 1;
        display: flex;
        justify-content: center;    
        align-items: center;
    }
    .error-message {
        color: red;
        font-size: 12px;
        display: block;
        margin-top: 5px;
    }
    .selection {
        padding-top: 30px;
        gap: 20px;
        width: 500px;
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        padding-bottom: 30px;
        color: #fff;
        text-align: center;
    }
    .selection_box {
    background-color: #345678;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 60px;
    display: flex;
    align-items: center;      /* vertically center */
    justify-content: center;  /* horizontally center the text */
    position: relative;
    padding: 10px 20px;
    }

    .selection_box img {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 20px;               /* stick the flag to the left */
        top: 50%;                 /* move it vertically to the middle */
        transform: translateY(-50%);
    }

.link-wrapper a {
        color: #fff;
        text-decoration: none;
        text-align: center;
    }
.selection_box .btn {
    position: absolute;
    right: 20px;
    width: 100px;
    height: 30px;
    line-height: 30px;          /* centers text vertically */
    text-align: center;         /* centers text horizontally */
    cursor: pointer;
    border-radius: 60px;
    border: 0;
    background-color: #021631;
    color: #fff;                /* text color */
    text-decoration: none;      /* remove underline */
    font-family: inherit;
    transition: background-color 0.2s;
}

.selection_box .btn:hover {
    background-color: #012345;
}
.lessons {
    color: #fff;
    padding: 40px;
    text-align: center;
}
.lessons h1{
    color: #fff;
    position: center;
    text-align: center;
    padding-bottom: 100px;
    gap: 300px;
}
.bottom_page_btn {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 150px;

}
.button_look {
    background-color: #345678;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 30px;
    width: 150px;
    height: 30px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

    .link-wrapper {
        text-align: center; /* centers text inside the wrapper */
    }
    
    @media(max-width: 800px){
        .hideOnMobile {
            display: none;
        }
        .menu-button{
            display: block;
        }
    }
    @media(max-width: 400px){
        .sidebar{
            width: 100%;
        }
    }